<div id="error-page">
  <h2>Error</h2>

  <h3>HTTP {{error.status}} - {{message}}</h3>
  <p>
    Something went wrong, but that's ok! The web server returned a status of <tt>HTTP {{error.status}} - {{message}}</tt>.
  </p>
  <p>
    What does that mean? See the MDN documentation for <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/{{error.status}}">HTTP {{error.status}} {{message}}</a> to learn more. Don't be afraid to ask your instructor or a classmate if you're still unsure.
  </p>

  <h3>Stack Trace</h3>
  <p>
    Here is the stack trace. It contains a ton of helpful information, including:
  </p>
  <ol>
    <li>The error message</li>
    <li>The function that caused the error</li>
    <li>The file name, line number, and character number where the error happened</li>
    <li>The above information for the sequence of function calls leading up to the error.</li>
  </ol>

  <p>If you don't know how to interpret a stack trace, learn! It's one of the first steps in becoming a great debugger.</p>

  <pre>{{error.stack}}</pre>
</div>
